<div class="center">
    <div class="row">
      <h2 class="sottotitolo">Il nostro negozio</h2>
      <div class="col s12 m4">
          <i class="material-icons medium blue-grey-text text-darken-3">library_books</i>
          <h5>Scopri contenuti unici</h5>
          <p>We did most of the heavy liftin
            g for you to provide a default stylings that in
            corporate our custom components. Additionally, w
            e refined animations and transitions to provide
            a smoother experience for developers.</p>
      </div>

      <div class="col s12 m4">
          <i class="material-icons medium blue-grey-text text-darken-3">motorcycle</i>
          <h5>Acquista velocemente</h5>
          <p>By utilizing elements and prin
            ciples of Material Design, we were able to cre
            ate a framework that incorporates components an
            d animations that provide more feedback to users.
            Additionally, a single underlying responsive system
             across all platforms allow for a more unified user experience.</p>
      </div>

      <div class="col s12 m4">
          <i class="material-icons medium blue-grey-text text-darken-3">library_add</i>
          <h5>Vendi i tuoi contenuti</h5>
          <p>We have provided detailed documentati
            on as well as specific code examples to help new u
            sers get started. We are also always open t
            o feedback and can answer any questions a use
            r may have about Materialize.</p>
        </div>

    </div>
</div>
