@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }

  .btn-devise{
    width:100%;
  }

  .show_img{
    margin:0 auto;
    padding-right: 5%;
  }
  
  .show_titolo{
    margin:0 auto;
    font-size: 3.4em;
}

.show_prezzo{
  font-size: 2em;
}
